.menu {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  min-height: 75vh;
}

.menu-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-item {
  padding-left: 20px;
  position: relative;
}

.menu-item-info {
  font-weight: 500;
}

.menu-item::before {
  content: "\2023";
  width: 20px;
  position: absolute;
  margin-left: -20px;
}